@()(implicit user: models.User)
<header class="main-header">
  @logo()
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">@*
        @messages()
		@notifications()
		@tasks()*@
        @userAccountMenu()
      </ul>
    </div>
  </nav>
</header>