<a href="@controllers.routes.PanelController.panel()" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini"><b>DS</b>13</span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><b>DS</b>13</span>
</a>