@()(implicit user: models.User)
<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="@routes.Assets.versioned("images/guest_vendetta.jpg")" class="user-image" alt="User Image">
    <span class="hidden-xs">@views.html.admin.utils.userViewedName(user) {&nbsp;}</span>
  </a>
  <ul class="dropdown-menu">
    <li class="user-header">
      <img src="@routes.Assets.versioned("images/guest_vendetta.jpg")" class="img-circle" alt="User Image">
      <p>
        @views.html.admin.utils.userViewedName(user) {&nbsp;}
        <!-- <small>Member since Nov. 2012</small>  -->
      </p>
    </li>
    <!-- 
    <li class="user-body">
      <div class="col-xs-4 text-center">
        <a href="#">Followers</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Sales</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href="#">Friends</a>
      </div>
    </li>
     -->
    <li class="user-footer">
    <!-- 
      <div class="pull-left">
        <a href="#" class="btn btn-default btn-flat">Profile</a>
      </div>  -->
      <div class="pull-right">
        <a href="@controllers.routes.PanelController.logout" class="btn btn-default btn-flat">Выйти</a>
      </div>
    </li>
  </ul>
</li>
