@(ownerUser: models.User, accountId: Long, robotId: Long, configForm: Form[controllers.modules.robots.insta.ComplexBot1FormConfig])(implicit user: models.User, flash: Flash, messages: Messages)

@import helper._

@import ds13.bots.storable.insta.complexbot1.ComplexBot1Config

@implicitField = @{ FieldConstructor(views.html.admin.utils.verticalFormFieldConstructor.f) }

@views.html.admin.defaultCommonDashboard(Array("...", "Конфигурация")) {
  @views.html.admin.utils.boxWithTitleRow12Lg("") {
    @views.html.admin.robots.botForm1(ownerUser, accountId, robotId, configForm) {
      @helper.inputText(configForm(ComplexBot1Config.LESFI), 'class-> "form-control", '_label -> ("Введите разделенные пробелом хэштэги в форме #ИМЯ_ХЭШТЭГА и имена пользователей в форме @ИМЯ_ПОЛЬЗОВАТЕЛЯ или идентификатор гео в виде &ЦИФРОВОЙ_ИДЕНТИФИКАТОР"))
      <hr>
      @helper.checkbox(configForm(ComplexBot1Config.IS_NEED_TO_FILL_SELF_FOLLOWINGS_AS_NON_TO_FOLLOW_AND_NON_UNFOLLOW), '_label -> ("Нужно ли текущие подписки включить в список аккаунтов, на которые в дальнейшем не будем подписываиться и от которых не будем отписываться?"))
      @helper.checkbox(configForm(ComplexBot1Config.IS_NEED_TO_FILL_SELF_FOLLOWERS_AS_NON_TO_FOLLOW), '_label -> ("Нужно ли текущих подписчиков включить в список аккаунтов, на которые в дальнейшем не подписываться?"))
      <hr>
      @helper.inputText(configForm(ComplexBot1Config.FOLLOW_LIMIT).copy(value=Some("3000")), 'class-> "form-control", '_label -> ("Предел подписок по достижению которого подписки останавливаются (от 0 до 7000)."))
      @helper.checkbox(configForm(ComplexBot1Config.IS_LIKE_LASTPOST_BEFORE_FOLLOW), 'checked -> "checked", 'class-> "form-control", 'class-> "icheckbox_flat-green checked", '_label -> ("Лайкать один пост пользователя перед подпиской на него (посты приватных аккантов лайкаться не будут)?"))
      @helper.checkbox(configForm(ComplexBot1Config.IS_FOLLOW_TO_PRIVATE), '_label -> ("Отправлять запросы на подписку приватным аккаунтам?"))
      <hr>
      @helper.checkbox(configForm(ComplexBot1Config.IS_FIRST_FOLLOW), 'checked -> "checked", '_label -> ("Сначала запускать подписку?"))
      @helper.checkbox(configForm(ComplexBot1Config.IS_LOOP), 'checked -> "checked", '_label -> ("Запускать цикл \"подписка -> отписка\"?"))
      @helper.inputText(configForm(ComplexBot1Config.TIME_BETWEEN_LOOP).copy(value=Some("90000")), 'class-> "form-control", '_label -> ("Время паузы между стадиями подписки и отписки"))
      <hr>
      @helper.checkbox(configForm(ComplexBot1Config.IS_FOLLOWERS_COUNT_LIMIT), '_label -> ("Пропускать пользователей у которых подписчиков больше установленного ниже количества?"))
      @helper.inputText(configForm(ComplexBot1Config.FOLLOWERS_COUNT_LIMIT).copy(value=Some("90000")), 'class-> "form-control", '_label -> (""))
      @helper.checkbox(configForm(ComplexBot1Config.IS_FOLLOWING_COUNT_LIMIT), '_label -> ("Пропускать пользователей которые подписаны на пользователей больше установленного ниже количества?"))
      @helper.inputText(configForm(ComplexBot1Config.FOLLOWING_COUNT_LIMIT).copy(value=Some("90000")), 'class-> "form-control", '_label -> (""))      
    }
  }
}
