@(ownerUserOpt: Option[User], accountsWithOwners: Seq[(ds13.bots.storable.Account, models.daos.DBUser)])(implicit user: models.User, flash: Flash)
@views.html.admin.common.box("Аккаунты")("table-responsive") {
  @if(ownerUserOpt.isDefined) {	
  <button type="button" class="btn btn-block btn-success btn-sm" onclick="window.location.href='@controllers.modules.robots.insta.routes.InstaController.configureNewAccount(ownerUserOpt.get.id)'">Добавить</button>
  }	
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Владелец</th>
    <th>device ID</th>
    <th>GUID</th>
    <th>username</th>
    <th>password</th>
    <th></th>
  </tr>
  @for((a,u) <- accountsWithOwners) {
  <tr>
    <td>@a.id</td>
    <td><a href="@controllers.routes.UsersController.profile(u.id)">@u.email</a></td>
    @defining(new org.json.JSONObject(a.properties.getOrElse(""))) { json =>
    <td>@views.html.admin.utils.jsonField(json, "deviceId")</td>
    <td>@views.html.admin.utils.jsonField(json, "GUID")</td>
    <td><a href="@controllers.routes.AccountsController.profile(a.id)">@views.html.admin.utils.jsonField(json, "username")</a></td>
    <td>@views.html.admin.utils.jsonField(json, "password")</td>    
    }
    <td>
    @* Remove not used in account profile - because redirect to empty account byt referer *@
    @views.html.adminOrElse {
    	@views.html.admin.utils.buttonsGroup("xs", Seq(
    		("success", "info",   "Смотреть", controllers.routes.AccountsController.profile(a.id)),
        	("success", "rocket", "Запуски",  controllers.routes.LaunchesController.listByAccountId(a.id, 1)),
        	("danger",  "remove", "Удалить",  controllers.routes.AccountsController.remove(a.id))
    	))
    } {
        @views.html.admin.utils.buttonsGroup("xs", Seq(
    		("success", "info",   "Смотреть", controllers.routes.AccountsController.profile(a.id)),
        	("danger",  "remove", "Удалить",  controllers.routes.AccountsController.remove(a.id))
    	))
    }
    </td>
  </tr>
  }
</table>
}
