@(ownerUserOpt: Option[User], launches: Seq[(ds13.bots.storable.Launch, Option[ds13.bots.storable.StorableBotLaunchHelper])])(implicit user: models.User, flash: Flash)
@views.html.admin.subviews.listTable("Запуски") {
  <tr>
    <th>ID</th>
    <th>состояние</th>
    <th></th>
    <th></th>
  </tr>
  @for((launch, helper) <- launches) {
  <tr>
    <td>@launch.id</td>
    <td>
	@helper.fold {
    	<td>@views.html.admin.subviews.robotState(-1)</td>
    	<td>@views.html.admin.utils.buttonsGroup("xs", Seq(("success", "info", "Смотреть", controllers.routes.LaunchesController.profile(launch.id))))</td>
    } { helper =>
    	@defining(helper.launchStatus) { status =>
        <td>@views.html.admin.subviews.robotState(status)</td>
        <td>@views.html.admin.subviews.robotStateButtons(status, launch.id)</td>
        }
    }
    </td>
  </tr>
  }
}