@(headerScripts: Html)
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<title>DS13</title>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main_app.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
@headerScripts
