@(inForm: Form[_])
@html{
  @views.html.admin.head()
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/iCheck/skins/square/blue.css")">
} {
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="/"><b>Panel</b>DS13</a>
      </div>
      <div class="login-box-body">
        <p class="login-box-msg">Войдите чтобы начать работу</p>
        <form action="@routes.PanelController.auth" method="POST">
          <div class="form-group has-feedback">
            <input id="email" name="email" type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input id="pass" name="pass" type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Запомнить меня
                </label>
              </div>
            </div>
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
            </div>
          </div>
        </form>
        <a href="#">Забыли пароль?</a><br>
        <a href="register.html" class="text-center">Зарегистрироваться</a>
      </div>
    </div>
    @views.html.admin.scripts()
    <script src="@routes.Assets.versioned("lib/iCheck/icheck.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>  
}
