@(ownerUserOpt: Option[User], accountsWithOwners: Seq[(ds13.bots.storable.Account, ds13.bots.storable.AccountType, models.daos.DBUser)])(implicit user: models.User, flash: Flash)
@listContainer(Array("Аккантуы")) {
@views.html.admin.common.box("Аккаунты")("table-responsive") {
  @ownerUserOpt.map { ownerUser =>
  	<button type="button" class="btn btn-block btn-success btn-sm" onclick="window.location.href='@controllers.routes.AccountTypesController.listByUserId(ownerUser.id, 1)'">Добавить</button>
  }
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Аккаунт</th>
    <th>Владелец</th>
    <th>Тип</th>
    <th></th>
  </tr>
  @for( (a, t, u) <- accountsWithOwners ) {
  <tr>
    <td>@a.id</td>
    @defining(new org.json.JSONObject(a.properties.getOrElse(""))) { json =>
   	<td><a href="@controllers.routes.AccountsController.profile(a.id)">@views.html.admin.utils.jsonField(json, "uid")</a></td>
    }
    <td><a href="@controllers.routes.UsersController.profile(u.id)">@u.email</a></td>
    <td><a href="@controllers.routes.AccountTypesController.profile(t.id)">@t.name&nbsp;@t.version</a></td>
    <td>@views.html.admin.utils.buttonsGroup("xs", Seq(
    	("success", "info",   "Смотреть", controllers.routes.AccountsController.profile(a.id)),
        ("success", "rocket", "Запуски",  controllers.routes.LaunchesController.listByAccountId(a.id, 1)),
        ("danger",  "remove", "Удалить",  controllers.routes.AccountsController.remove(a.id))
        ))
    </td>
  </tr>
  }
</table>
}	
}