@(ownerUserOpt: Option[User], accountTypes: Seq[ds13.bots.storable.AccountType])(implicit user: models.User, flash: Flash)
@listContainer(Array("Типы аккаунтов")) {
@views.html.admin.common.box("Типы аккаунтов")("table-responsive") {
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Версия</th>
    <th></th>
  </tr>
  @for(u <- accountTypes) {
  <tr>
    <td>@u.id</td>
    <td>@u.name</td>
    <td>@u.version</td>
    <td>@views.html.admin.utils.buttonsGroup("xs", 
    	Seq(("success", "info", "Смотреть", controllers.routes.AccountTypesController.profile(u.id))) ++ 
    		ownerUserOpt.fold { 
    			Seq(("success", "file",			"Аккаунты", controllers.routes.AccountsController.listByAccountTypeId(u.id, 1)))
    		} { ownerUser => 
    			Seq(("success", "file",			"Аккаунты", controllers.routes.AccountsController.listByUserIdAndAccountTypeId(ownerUser.id, u.id, 1)),
    				("success", "rocket", 		"Запуски",  controllers.routes.LaunchesController.listByUserIdAndAccountTypeId(ownerUser.id, u.id, 1)),
    				("success", "plus-square", 	"Добавить", controllers.routes.AccountsController.newAccount(ownerUser.id, u.id)))
    		}
        )
    </td>
  </tr>
  }
</table>
}
}
