@(ownerUserOpt: Option[User], launches: Seq[(ds13.bots.storable.Launch, models.daos.DBUser, ds13.bots.storable.AccountType, ds13.bots.storable.Account, Option[ds13.bots.storable.StorableBotLaunchHelper])])(implicit user: models.User, flash: Flash)
@listTable("Запуски") {
  <tr>
    <th>ID</th>
    <th>Аккаунт</th>
    <th>Владелец</th>
    <th>Тип</th>
    <th>состояние</th>
    <th></th>
    <th></th>
  </tr>
  @for((launch, luser, accountType, account, helper) <- launches) {
  <tr>
    <td>@launch.id</td>
    @defining(new org.json.JSONObject(account.properties.getOrElse(""))) { json =>
    <td><a href="@controllers.routes.AccountsController.profile(account.id)">@views.html.admin.utils.jsonField(json, "uid")</a></td>
    }
    <td><a href="@controllers.routes.UsersController.profile(luser.id)">@luser.email</a></td>
    <td><a href="@controllers.routes.AccountTypesController.profile(accountType.id)">@accountType.name&nbsp;@accountType.version</a></td>    
    <td>
	@helper.fold {
    	<td>@robotState(-1)</td>
    	<td>@views.html.admin.utils.buttonsGroup("xs", Seq(("success", "info", "Смотреть", controllers.routes.LaunchesController.profile(launch.id))))</td>
    } { helper =>
    	@defining(helper.launchStatus) { status =>
        <td>@robotState(status)</td>
        <td>@robotStateButtons(status, launch.id)</td>
        }
    }
    </td>
  </tr>
  }
}