@(plans: Seq[models.daos.DBPlan])(implicit user: models.User, flash: Flash)
@views.html.admin.subviews.listContainer(Array("Тарифные планы")) {
@views.html.admin.common.box("Тарифные планы")("table-responsive") {
  <button type="button" class="btn btn-block btn-success btn-sm" onclick="window.location.href='@controllers.routes.PlansController.configureNew()'">Добавить</button>
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Стоимость</th>
    <th>Период</th>
    <th></th>
  </tr>
  @for(u <- plans) {
  <tr>
    <td>@u.id</td>
    <td>@u.name</td>
    <td>@u.price.fold("бесплатный")(_ + " руб")</td>
    <td>@u.period.fold("безлимитный")(_ + " дней")</td>
    <td>@views.html.admin.utils.buttonsGroup("xs", Seq(
        ("success", "info",   "Смотреть",       controllers.routes.PlansController.profile(u.id)),
        ("danger",  "remove", "Удалить",        controllers.routes.PlansController.remove(u.id))
        ))
    </td>
  </tr>
  }
</table>
}
}
