@(proxies: Seq[(ds13.bots.storable.Proxy, Option[models.daos.DBUser], Option[ds13.bots.storable.Account], Option[ds13.bots.storable.Launch])])(implicit user: models.User, flash: Flash)
@views.html.admin.subviews.listContainer(Array("Прокси")) {
@views.html.admin.common.box("Прокси")("table-responsive") {
  <button type="button" class="btn btn-block btn-success btn-sm" onclick="window.location.href='@controllers.routes.ProxiesController.configureNew()'">Добавить</button>
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>ip</th>
	<th>port</th>
	<th>Аутентификация</th>
	<th>login</th>
	<th>password</th>
	<th>Пользователь</th>
	<th>Аккаунт</th>
	<th>Запуск</th>
	<th></th>
  </tr>
  @for((p, ou, oa, ol) <- proxies) {
  <tr>
    <td>@p.id</td>
    <td>@p.ip</td>
    <td>@p.port</td>
    <td>@p.authType</td>
    <td>@p.login</td>
    <td>@p.pass</td>
    <td>@ou.map{ u => 
    	<a href="@controllers.routes.UsersController.profile(u.id)">@u.email</a>
    }</td>
    <td>@oa.map{ a => 
      	@defining(new org.json.JSONObject(a.properties.getOrElse(""))) { json =>
   			<a href="@controllers.routes.AccountsController.profile(a.id)">@views.html.admin.utils.jsonField(json, "uid")</a></td>
    	}
    }</td>
    <td>@ol.map(_.id)</td>
    <td>@views.html.admin.utils.buttonsGroup("xs", Seq(
        ("success", "info",   "Смотреть",       controllers.routes.ProxiesController.profile(p.id)),
        ("danger",  "remove", "Удалить",        controllers.routes.ProxiesController.remove(p.id))
        ))
    </td>
  </tr>
  }
</table>
}
}
