@(accountOpt: Option[ds13.bots.storable.Account], robots: Seq[ds13.bots.storable.Robot])(implicit user: models.User, flash: Flash)
@listTable("Роботы") {
  <tr>
    <th>ID</th>    
	<th>name</th>
	<th>version</th>
	<th></th>
  </tr>
  @for(u <- robots) {
  <tr>
    <td>@u.id</td>
    <td>@u.name</td>
    <td>@u.version</td>
    <td>
    @views.html.admin.utils.buttonsGroup("xs", accountOpt.fold { Seq(
     	("success", "info",   "Смотреть",     controllers.routes.RobotsController.profile(u.id)),
     	("success", "users",  "Пользователи", controllers.routes.UsersController.listByRobotId(u.id, 1)),
       	("success", "file-o", "Аккаунты",     controllers.routes.AccountsController.listByRobotId(u.id, 1))        		
	)} { account => Seq(
     	("success", "info",   "Смотреть",     controllers.routes.RobotsController.profile(u.id)),
      	("success", "plus",   "Добавить",     controllers.routes.LaunchesController.configureNewLaunch(account.id, u.id))
	)})
    </td>
  </tr>
  }
}