@(users: Seq[models.User])(implicit user: models.User, flash: Flash)
@views.html.admin.subviews.listContainer(Array("Пользователи")) {
@views.html.admin.common.box("Пользователи")("table-responsive") {
  <button type="button" class="btn btn-block btn-success btn-sm" onclick="window.location.href='@controllers.routes.UsersController.configureNewUser()'">Добавить</button>
} {
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Login</th>
    <th>Email</th>
    <th>Статус пользователя</th>
    <th>Статус аккаунта</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Часовой пояс</th>
    <th>Зарегистрирован</th>
    <th>Тариф</th>
    <th>Баланс</th>
    <th></th>
  </tr>
  @for(u <- users) {
  <tr>
    <td>@u.id</td>
    <td>@u.login</td>
    <td>@u.email</td>
    <td>@u.userStatus.status</td>
    <td>@u.accountStatus.status</td>
    <td>@u.name</td>
    <td>@u.surname</td>
    <td>@u.timezone</td>
    <td>@u.getRegistered(user.timezone.timezone).toString("dd:MM:yy")</td>
    <td><a href="@controllers.routes.PlansController.profile(u.plan.id)">@u.plan.name</a>&nbsp;(@u.plan.price.fold("бесплатный")(_ + " руб"), @u.getPlanEnd(user.timezone.timezone).fold("безлимтный")(t => "до " + t.toString("dd:MM:yy")))</td>
    <td>@u.balance &nbsp;руб</td>
    <td>@views.html.admin.utils.buttonsGroup("xs", Seq(
        ("success", "info",   "Смотреть",       controllers.routes.UsersController.profile(u.id)),
        ("success", "pencil", "Редактировать",  controllers.routes.UsersController.edit(u.id)),
        ("success", "file-o", "Типы аккаунтов", controllers.routes.AccountTypesController.listByUserId(u.id, 1)),
        ("success", "file",   "Аккаунты",       controllers.routes.AccountsController.listByUserId(u.id, 1)),
        ("success", "rocket", "Запуски",        controllers.routes.LaunchesController.listByUserId(u.id, 1)),
        ("success", "remove", "Удалить",        controllers.routes.UsersController.remove(u.id))))
    </td>
  </tr>
  }
</table>
}
}