@(alertType: String, title: String, text: String)

@icon = @{alertType match {
  case "success" => "check"
  case "warning" => "warning"
  case "info"    => "info"
  case "danger"  => "ban" 
  case _         => 	
}}

<div class="alert alert-@alertType alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="icon fa fa-@icon"></i> Alert!</h4>
  @text
</div>