@(buttonType: String, faIconName: String, tooltip: String, call: Call, size: String)
<button type="button" class="btn btn-@buttonType btn-@size" title="@tooltip" onclick="window.location.href='@call'"><i class="fa fa-@faIconName"></i></button>
