@(activeMenu: Array[String])(implicit user: models.User)
<ul class="sidebar-menu">
  <li class="header">Меню</li>  
  @views.html.isAdmin {
  	@sidebarMenuLink(activeMenu, "Пользователи",       "fa-users",       controllers.routes.UsersController.list(1))
  	@sidebarMenuLink(activeMenu, "Тарифы",             "fa-briefcase",   controllers.routes.PlansController.list(1))
  	@sidebarMenuLink(activeMenu, "Типы аккаунтов",     "fa-file-o",      controllers.routes.AccountTypesController.list(1))
  	@sidebarMenuLink(activeMenu, "Аккаунты",           "fa-file",        controllers.routes.AccountsController.list(1))
  	@sidebarMenuLink(activeMenu, "Роботы",             "fa-user-secret", controllers.routes.RobotsController.list(1))
  	@sidebarMenuLink(activeMenu, "Запуски",            "fa-rocket",      controllers.routes.LaunchesController.list(1))
  	@sidebarMenuLink(activeMenu, "Прокси",             "fa-server",      controllers.routes.ProxiesController.list(1))
  	@sidebarMenuLink(activeMenu, "Instagram аккаунты", "fa-instagram",   controllers.routes.AccountsController.listSpecific(1,1))
  }
  @views.html.isClient {
  	@sidebarMenuLink(activeMenu, "Мои аккантуы",   "fa-instagram",   controllers.routes.AccountsController.listByUserIdAndAccountTypeId(user.id,1,1))
  }
</ul>

