@(title: String)(bodyClassesString: String)(tools: Html)(content: Html)
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">@title</h3>
        <div class="box-tools">
          @tools
        </div>
      </div>
      <div class="box-body @bodyClassesString">
        @content
      </div>
    </div>
  </div>
</div>	